/* You can add global styles to this file, and also import other style files */
.pointer {
    cursor: pointer;
}

.open-close-code {
    color: #f77883;
}

.inner-text-code {
    color: #fff;
}

.props {
    color: rgb(137, 239, 255);
}

.mb-50 {
    margin-bottom: 50px;
}

.blue-letter {
    color: #2AC3DE;
}